# Python
__pycache__/
*.py[cod]
*.sqlite3

# Django
*.log
*.pot
*.pyc
*.pyo
*.db
db.sqlite3
media
staticfiles

# Virtualenv
venv/
.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# PostgreSQL
*.dump
